<h1>Sign Up for FORUMZ</h1>
<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <br>
  <%= f.submit "Sign Up" %>
<% end %>
<%= link_to 'Already have an account?', new_session_path %>