<h1><%= @user.name %></h1>

<h2>Posts:</h2>
<% @user.posts.reverse.each do |post| %>
  <div>
    <strong><%= link_to post.title, post_path(post) %></strong>
    <p>
    <% if post.text.length >= 140 %>
      <%= post.text[0..140] + '...' %>
    <% else %>
      <%= post.text %>
    <% end %>
    </p>
    <span class="timestamp"><%= time_ago_in_words(post.created_at) %> ago</span>
  </div>
<% end %>


