
<h1><%= @post.title %></h1>

<div class="row user-show">
  <div class="span12">
    <h3><%= link_to @post.user.name, user_path(@post.user) %></h3>
    <p><%= @post.text %></p>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h3>Comment</h3>
    <%= simple_form_for @comment, :url => comment_path do |f| %>
        <%= f.input :text, :input_html => { :rows => 6 } %>
        <%= f.hidden_field :post_id, :value => @post.id %>
        <% if current_user %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.submit "Comment", :class => "btn btn-primary" %>
        <% else %>
          <%= link_to "log-in before you post!", new_session_path %>
        <% end %>
    <% end %>
  </div>
  <div class="span8">
    <% @post.comments.reverse.each do |comment| %>
      <div class="well">
        <strong>Author:</strong> <%= link_to comment.user.name, user_path(comment.user) %>
        <p><%= comment.text %></p>
        <span class="timestamp"><%= time_ago_in_words(comment.created_at) %> ago</span>
      </div>
    <% end %>
  </div>
</div>